# [Fruits_Vegetables]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Fruits_Vegetables]    Script Date: 14.11.2022 00:36:18 ******/
CREATE DATABASE [Fruits_Vegetables]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fruits_Vegetables', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fruits_Vegetables.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fruits_Vegetables_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Fruits_Vegetables_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [Fruits_Vegetables] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fruits_Vegetables].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Fruits_Vegetables] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET ARITHABORT OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Fruits_Vegetables] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Fruits_Vegetables] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET  DISABLE_BROKER 
GO
ALTER DATABASE [Fruits_Vegetables] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Fruits_Vegetables] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET RECOVERY FULL 
GO
ALTER DATABASE [Fruits_Vegetables] SET  MULTI_USER 
GO
ALTER DATABASE [Fruits_Vegetables] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Fruits_Vegetables] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Fruits_Vegetables] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Fruits_Vegetables] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Fruits_Vegetables] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Fruits_Vegetables] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'Fruits_Vegetables', N'ON'
GO
ALTER DATABASE [Fruits_Vegetables] SET QUERY_STORE = OFF
GO

# [dbo].[fruits]

In [0]:
USE [Fruits_Vegetables]
GO

In [0]:
/****** Object:  Table [dbo].[fruits]    Script Date: 14.11.2022 00:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fruits](
	[Name] [nchar](100) NULL,
	[Type] [nchar](100) NULL,
	[Color] [nchar](100) NULL,
	[Calories] [decimal](18, 0) NULL
) ON [PRIMARY]
GO

In [0]:
INSERT [dbo].[fruits] ([Name], [Type], [Color], [Calories]) VALUES (N'Apple                                                                                               ', N'Fruit                                                                                               ', N'Red                                                                                                 ', CAST(150 AS Decimal(18, 0)))
INSERT [dbo].[fruits] ([Name], [Type], [Color], [Calories]) VALUES (N'Banana                                                                                              ', N' Fruit                                                                                              ', N'Yellow                                                                                              ', CAST(360 AS Decimal(18, 0)))
INSERT [dbo].[fruits] ([Name], [Type], [Color], [Calories]) VALUES (N'Watermelon                                                                                          ', N'Fruit                                                                                               ', N'Green                                                                                               ', CAST(500 AS Decimal(18, 0)))
INSERT [dbo].[fruits] ([Name], [Type], [Color], [Calories]) VALUES (N'Tomato                                                                                              ', N'Vegetable                                                                                           ', N'Red                                                                                                 ', CAST(160 AS Decimal(18, 0)))
INSERT [dbo].[fruits] ([Name], [Type], [Color], [Calories]) VALUES (N'Cucumber                                                                                            ', N'Vegetable                                                                                           ', N'Green                                                                                               ', CAST(240 AS Decimal(18, 0)))
INSERT [dbo].[fruits] ([Name], [Type], [Color], [Calories]) VALUES (N'Corn                                                                                                ', N' Vegetable                                                                                          ', N'Yellow                                                                                              ', CAST(470 AS Decimal(18, 0)))
GO

# [Fruits_Vegetables]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Fruits_Vegetables] SET  READ_WRITE 
GO